@model HR_Management_System.Models.Salary
@{
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}




<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div div class="col-sm-5 col-5">
                <h4 class="page-title">Employee Salary</h4>
            </div>
            <div class="col-sm-7 col-7 text-right m-b-30">
                <a href="#" class="btn btn-primary rounded pull-right" data-toggle="modal" data-target="#add_salary"> Add Salary</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Company</th>
                                <th>Department</th>
                                <th>Role</th>
                                <th>Basic</th>
                                <th>Medical</th>
                                <th>Tax</th>
                                <th>Total Salary</th>
                                <th class="text-center">PaySlip</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Sal)
                            {
                                if (item.CmpId == Convert.ToInt32(Session["CompanyId"].ToString()) )
                                                {
                                    <tr>

                                        <td><img width="28" height="28" src="@item.E_Image" class="rounded-circle m-r-5" alt="">@item.E_Name</td>
                                        <td>@item.C_Name</td>
                                        <td>@item.D_Name</td>
                                        <td>@item.RType</td>
                                        <td>@item.Basic</td>
                                        <td>
                                            @item.Medical
                                        </td>
                                        <td>@item.Tax</td>
                                        <td>@item.NetSalary</td>
                                        <td>
                                            <a class="custom-badge status-green " href="@Url.Action("CmpEmpSalarySlip", "CmpEmployee" , new { sal=item.SalaryId })" aria-expanded="false">
                                                Payslip
                                            </a>
                                        </td>
                                        @*<td><a class="btn btn-xs btn-primary" href="salary-view.html">Generate Slip</a></td>*@
                                        <td class="text-right">
                                            <div class="dropdown">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="#" class="dropdown-item btnEditSalary" data-id="@item.SalaryId" data-toggle="modal" data-target="#edit_salary" title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                                    <li><a href="#" class="dropdown-item " onclick="DeleteSalary(@item.SalaryId)" data-toggle="modal" data-target="#delete_salary"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                                                    @*<li><a href="#" class="btnDeleteSalary" data-id="@item.SalaryId" data-toggle="modal" data-target="#delete_salary" title="Delete"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>*@
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="add_salary" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">Add Employee Salary</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(ViewBag.insert)
                @using (Html.BeginForm("CmpEmpSalary", "CmpEmployee", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        @*<div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Company</label>
                                @Html.DropDownListFor(item => @Model.CmpId, ViewBag.cmp as SelectList, "--- Select Company ----", new { @class = "form-control", @id = "editcompany", required = "required" })
                            </div>
                        </div>*@
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Department</label>
                                @Html.DropDownListFor(model => model.DeptId, ViewBag.dept as SelectList, "--- Select Department ----", new { @class = "form-control", @id = "USERIDf", required = "required" })
                                @*<select class="select" id="empdept" name="empdept">
                                                                       @{ foreach (var item in ViewBag.dept)
                                                                           {
                                                           <option value="@item.DeptName">@item.DeptName</option>
                                    } }

                                                                   </select>*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Employee</label>
                                @Html.DropDownListFor(model => model.EmpId, ViewBag.emp as SelectList, "--- Select Employee ----", new { @class = "form-control", @id = "AddEmployee", required = "required" })
                                @*<select class="select" id="empsal" name="empsal">
                                                                       @{ foreach (var item in ViewBag.emp)
                                                                           {
                                                           <option value="@item.LName">@item.LName</option>
                                    } }

                                                                   </select>*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Role</label>
                                @Html.DropDownListFor(model => model.RoleId, ViewBag.role as SelectList, "--- Select Role ----", new { @class = "form-control", required = "required" })
                                @*<select class="select" id="empsal" name="empsal">
                                                                       @{ foreach (var item in ViewBag.emp)
                                                                           {
                                                           <option value="@item.LName">@item.LName</option>
                                    } }

                                                                   </select>*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="hidden" name="CmpId" id="addcompany"  class="form-control" />


                            </div>
                        </div>
                        
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                @*<label>Date</label>*@
                                <p style="margin-top:20px">
                                    @*<div class="cal-icon">*@
                                    @Html.LabelFor(model => model.Date)&nbsp;
                                    @*@Html.EditorFor(model => model.Date, "", new { @class = "form-control" })*@
                                    <input type="date" name="Date" class="form-control">
                                    @*</div>*@
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @*<label>Time</label>*@
                                <p style="margin-top:20px">
                                    @*<div class="time-icon">*@
                                    @Html.LabelFor(model => model.Time)&nbsp;
                                    @*@Html.EditorFor(model => model.Time, "", new { @class = "form-control" })*@
                                    <input type="time" name="Time" class="form-control" >
                                    @*</div>*@
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <h4 class="text-primary">Earnings</h4>

                            <div class="form-group">
                                <label>Basic</label>
                                @Html.EditorFor(model => model.Basic, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input class="form-control" type="text" id="basicsal" name="basicsal">*@
                            </div>

                            <div class="form-group">
                                <label>Allowance</label>
                                @Html.EditorFor(model => model.Allowance, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input class="form-control" type="text" id="allowance" name="allowance">*@
                            </div>
                            <div class="form-group">
                                <label>Medical  Allowance</label>
                                @Html.EditorFor(model => model.Medical, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input class="form-control" type="text" id="medallowance" name="medallowance">*@
                            </div>
                            @*<div class="form-group">
                                    <label>Others</label>
                                    <input class="form-control" type="text" id="other1" name="other1">
                                </div>*@
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-primary">Deductions</h4>

                            <div class="form-group">
                                <label>Tax</label>
                                @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input class="form-control" type="text" id="tax" name="tax">*@
                            </div>
                            <div class="form-group">
                                <label>Labour Welfare</label>
                                @Html.EditorFor(model => model.LabourWelfare, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input class="form-control" type="text" id="labour" name="labour">*@
                            </div>
                            <div class="form-group">
                                <label>Fund</label>
                                @Html.EditorFor(model => model.Fund, new { htmlAttributes = new { @class = "form-control" } })
                                @*<input class="form-control" type="text" id="fund" name="fund">*@
                            </div>
                            @*<div class="form-group">
                                    <label>Others</label>
                                    <input class="form-control" type="text" id="other2" name="other2">
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label>Total Salary</label>
                            @Html.EditorFor(model => model.NetSalary, new { htmlAttributes = new { @class = "form-control" } })
                            @*<input class="form-control" type="text" id="totalsal" name="totalsal">*@
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary">Create Salary</button>
                    </div>}
            </div>
        </div>
    </div>
</div>
<div id="edit_salary" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h4 class="modal-title">Edit Staff Salary</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(ViewBag.edit)
                @using (Html.BeginForm("EditCmpEmpSalary", "CmpEmployee", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Department</label>
                            @Html.DropDownListFor(item => @Model.DeptId, ViewBag.dept as SelectList, "--- Select Department ----", new { @class = "form-control", @id = "editdepartment", required = "required" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Employee</label>
                            @Html.DropDownListFor(item => @Model.EmpId, ViewBag.emp as SelectList, "--- Select Employee ----", new { @class = "form-control", @id = "editemployee", required = "required" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Role</label>
                            @Html.DropDownListFor(item => @Model.RoleId, ViewBag.role as SelectList, "--- Select Role ----", new { @class = "form-control", @id = "editrole", required = "required" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="hidden" name="CmpId" id="editcompany" class="form-control" />


                        </div>
                    </div>
                    @*<div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Company</label>
                            @Html.DropDownListFor(item => @Model.CmpId, ViewBag.cmp as SelectList, "--- Select Company ----", new { @class = "form-control", @id = "editcompany", required = "required" })
                        </div>
                    </div>*@
                    @*<div class="col-md-6">
            <input type="hidden" name="empid1" id="empid1" />
        </div>*@



                    <div class="col-md-6">
                        <h4 class="text-primary">Earnings</h4>
                        <div class="form-group">
                            <label>Basic</label>
                            @Html.EditorFor(model => model.Basic, new { htmlAttributes = new { @class = "form-control", @id = "editbasic" } })
                            @*<input class="form-control" type="text">*@
                        </div>

                        <div class="form-group">
                            <label>Allowance</label>
                            @Html.EditorFor(model => model.Allowance, new { htmlAttributes = new { @class = "form-control", @id = "editallowance" } })
                            @*<input class="form-control" type="text">*@
                        </div>
                        <div class="form-group">
                            <label>Medical  Allowance</label>
                            @Html.EditorFor(model => model.Medical, new { htmlAttributes = new { @class = "form-control", @id = "editmedical" } })
                            @*<input class="form-control" type="text">*@
                        </div>
                        @*<div class="form-group">
                <label>Others</label>
                <input class="form-control" type="text">
            </div>*@
                        <div class="form-group">
                            <label>Total</label>
                            @Html.EditorFor(model => model.NetSalary, new { htmlAttributes = new { @class = "form-control", @id = "editnetsalary" } })
                            @*<input class="form-control" type="text">*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-primary">Deductions</h4>

                        <div class="form-group">
                            <label>Prof. Tax</label>
                            @Html.EditorFor(model => model.Tax, new { htmlAttributes = new { @class = "form-control", @id = "edittax" } })
                            @*<input class="form-control" type="text">*@
                        </div>
                        <div class="form-group">
                            <label>Labour Welfare</label>
                            @Html.EditorFor(model => model.LabourWelfare, new { htmlAttributes = new { @class = "form-control", @id = "editlabourwelfare" } })
                            @*<input class="form-control" type="text">*@
                        </div>
                        <div class="form-group">
                            <label>Fund</label>
                            @Html.EditorFor(model => model.Fund, new { htmlAttributes = new { @class = "form-control", @id = "editfund" } })
                            @*<input class="form-control" type="text">*@
                        </div>
                        <div class="form-group">
                            @*<input type="text" id="SalaryEditHiddenid" />*@

                            @Html.EditorFor(model => model.SalaryId, new { htmlAttributes = new { @class = "form-control", @id = "editSlaryid" } })

                            @*<input class="form-control" type="text">*@
                        </div>
                        @*<div class="form-group">*@
                        @*<label>Fund</label>*@
                        @*@Html.EditorFor(model => model.SalaryId, new { htmlAttributes = new { @class = "form-control", @id = "editSalary" } })*@
                        @*<input class="form-control" type="text">*@
                        <!--</div>-->
                        @*<div class="form-group">
                <label>Others</label>
                <input class="form-control" type="text">
            </div>*@
                    </div>
                </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary">Create Salary</button>
                    </div>}
            </div>
        </div>
    </div>
</div>
<div id="delete_salary" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <h4 class="modal-title">Delete Salary</h4>
            </div>


            <div class="modal-body card-box">
                @Html.Raw(ViewBag.delete)
                @using (Html.BeginForm("DeleteCmpEmpSal", "CmpEmployee", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <p>Are you sure want to delete this?</p>
                    <div class="col-md-6">
                        @*<input type="text" name="empid2" id="empid2" />*@
                        <input type="text" id="Designation_id" />
                    </div>
                    <div class="m-t-20 text-left">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                        <button type="submit" onclick="deletee()" class="btn btn-danger">Delete</button>
                        @*<button type="submit" class="btn btn-danger">Delete</button>*@
                    </div>}
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-3.2.1.min.js"></script>*@
<script type="text/javascript">

    


    // For Employee Load in Add Salary Case
    $(document).ready(function () {
        $("#USERIDf").change(function () {
            $.get("/CmpEmployee/GetEmp", { DepartmentIDf: $("#USERIDf").val() }, function (data) {
                $("#AddEmployee").empty();
                $.each(data, function (index, row) {
                    $("#AddEmployee").append("<option value='" + row.EmpId + "'>" + row.LName + "</option>")
                });
            });
        })
    });


    // For Employee Load in Edit Salary Case
    $(document).ready(function () {
        $("#editdepartment").change(function () {

            $.get("/CmpEmployee/GetEmp", { DepartmentIDf: $("#editdepartment").val() }, function (data) {
                $("#editemployee").empty();
                $.each(data, function (index, row) {
                    $("#editemployee").append("<option value='" + row.EmpId + "'>" + row.LName + "</option>")
                });
            });
        })
    });





    function DeleteSalary(Salaryid) {

        $("#Designation_id").val(Salaryid);

    }


    $(".btnEditSalary").click(function () {
        //alert('test');
        var id = $(this).data("id");
        console.log(id);
        alert(id);
        //return;
        $.ajax({
            type: "GET",
            url: "/CmpEmployee/EditCmpEmpSalary/?id=" + id + "",
            //data: "{DesignationiD:" + id + "}",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (d) {


                console.log(d);


                $("#editSlaryid").val(id);
                $("#editbasic").val(d.Basic);
                $("#editallowance").val(d.Allowance);
                $("#editmedical").val(d.Medical);
                $("#editnetsalary").val(d.NetSalary);
                $("#edittax").val(d.Tax);
                $("#editlabourwelfare").val(d.LabourWelfare);
                $("#editfund").val(d.Fund);
                $("#editcompany").val(d.CmpId);
                $("#editdepartment").val(d.DeptId);
                $("#editemployee").val(d.EmpId);
                $("#editrole").val(d.RoleId);


                $("#edit_salary").modal("show");

            }
        });
    });




    var deletee = function () {

        var idd = $("#Designation_id").val();
        $.ajax({

            type: "post",
            url: "/CmpEmployee/DeleteCmpEmpSal",
            data: { Salaryid: idd },
            success: function (result) {

                $("Designation_id").val(null);
                $("#delete_salary").modal('hide');
                window.location.href = "/CmpEmployee/CmpEmpSalary";
            },
        });

    }

</script>
