@model HR_Management_System.Models.Meeting
@{
    ViewBag.Title = "AddMeeting";
}

<h2>AddMeeting</h2>


<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Meeting</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">

                @Html.Raw(ViewBag.insert)
                @using (Html.BeginForm("AddMeeting", "Company", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @*<form>*@
                    <div class="row">
                        @*<div class="col-md-6">
                                <div class="form-group">
                                    <label>Meeting ID</label>
                                    <input class="form-control" type="text" value="APT-0001" readonly="">
                                </div>
                            </div>*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Company Name</label>
                                @Html.DropDownListFor(m => m.CmpId, ViewBag.cmpppp as SelectList, "--- Select Company ----", new { @class = "form-control", required = "required" })
                                @*<input class="form-control" type="text" placeholder="Company Name" />*@

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department</label>
                                @Html.DropDownListFor(model => model.DeptId, ViewBag.dept as SelectList, "--- Select Department ----", new { @class = "form-control", required = "required" })
                                @*<input class="form-control" type="text" placeholder="Department Name" />*@

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Meeting President</label>
                                @Html.DropDownListFor(model=>model.EmpId, ViewBag.emp as SelectList, "--- Select President ----", new { @class = "form-control", required = "required" })
                                @*<input class="form-control" type="text" placeholder="Meeting President" />*@

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @*<label>Date</label>*@
                                <p style="margin-top:50px">
                                    @*<div class="cal-icon">*@
                                        @Html.LabelFor(model => model.Date)&nbsp;@Html.EditorFor(model => model.Date, "", new { @class = "form-control" })
                                        @*<input type="text" class="form-control datetimepicker">*@
                                    @*</div>*@
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @*<label>Time</label>*@
                                <p style="margin-top:50px">
                                    @*<div class="time-icon">*@
                                        @Html.LabelFor(model => model.Time)&nbsp;@Html.EditorFor(model => model.Time, "", new { @class = "form-control" })
                                        @*<input type="text" class="form-control" id="datetimepicker3">*@
                                    @*</div>*@
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:25px">
                        <label>Message</label>
                        @Html.LabelFor(model => model.Message)&nbsp;@Html.TextAreaFor(model => model.Message, new { @class = "form-control" })

                        @*<textarea cols="30" rows="4" class="form-control"></textarea>*@
                    </div>
                    @*<div class="form-group">
                        <label class="display-block">Meeting Status</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="product_active" value="option1" checked>
                            <label class="form-check-label" for="product_active">
                                Active
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="status" id="product_inactive" value="option2">
                            <label class="form-check-label" for="product_inactive">
                                Inactive
                            </label>
                        </div>
                    </div>*@
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Create Meeting</button>
                    </div>
                    @*</form>*@
                }
            </div>
        </div>
    </div>
    
</div>

<script>
    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'LT'

        });
    });</script>
